/test.VC.db
/Debug
bin
test.dir
.vs
test.VC.VC.opendb
lib
Release
/artofwar.VC.VC.opendb
/artofwar.VC.db
art_of_war.dir
result
*.rar
include
/CoreData
x64
Data/Database
/logs

/CoreDataMy/*.ps4
/CoreDataMy/*.vs4
