/test.VC.db
/Debug
bin
test.dir
.vs
test.VC.VC.opendb
lib
Release
/artofwar.VC.VC.opendb
/artofwar.VC.db
art_of_war.dir
result
*.rar
include
/Data/Database/base.db
/CoreData
saves
/Data/Database/base.old.db
/Data/Database/base — kopia.db
/Data/Database/base — kopia (2).db
/Data/Database/base.old.2.db
